<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>NMEA to Human Language</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
</head>
<body>
	<div class="container flex">
		 <form>
		 	<div class="title-of-form">
			 		<img src="{{url_for('static', filename='epingle.png')}}" class="pin-img" width="50" height="50">
					<h1 class="title">NMEA to Human Language</h1>
			</div>
			 <div class="text">
				 <p class="text-p">Le projet "NMEA to Human Language" est un projet entièrement open-source et disponible sur <a target="_blank" href="https://github.com/Arkeon34/nmea_converter"> Github</a> qui vous permettra de convertir des trames NMEA en données compréhensibles par des humains.</p></br>
				 <p class="text-here">Voilà quelques trames avec lesquelles vous pourrez tester le site : </br> </p>
				 <div class="trames">
				 	<p class="trame">$GPGGA,071005.289,4616.9979,N,00447.5561,E,1,06,3.2,182.1,M,,,,0000*09</p>
				 	<p class="trame">$GPGGA,064036.289,4836.5375,N,00740.9373,E,1,04,3.2,200.2,M,,,,0000*0E</p>
				    <p class="trame">$GPRMC,204311.602,A,3747.3392,N,12223.8954,W,0.50,324.18,061115,,,A*7A</p>
			 	 </div>
			 </div>
			 <div class="number-and-info">
				<input type="text" id="req" name="req" autofocus required autocomplete="off" placeholder="Entrez une trame NMEA">
			 </div>
  			<input onclick="makeRequest();" type="button" value="Make request">
				<div class="results-list">
					<div id="results"></div>
				</div>
			<div id="mapBloc">
			</div>
		</form>
	</div>


	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			 crossorigin=""></script>
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>